﻿@{
    ViewBag.Title = MatchGame.Textes.LOGGING_TEXT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model	MatchGame.Models.UserData
<h2>@MatchGame.Textes.LOGGING_TEXT</h2>

<div class="match-center-position">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.EditorForModel();
        <input type="submit" value="@MatchGame.Textes.LOGIN_TEXT" />
        @Html.ActionLink(MatchGame.Textes.REGISTRATION_TEXT, "register", "account");
    }
    @if (ViewBag.InvalidAuthData != null && ViewBag.InvalidAuthData)
    {
        <div class="validation-summary-errors">
            <ul>
                <li>@MatchGame.Textes.INVALID_USER_DATA</li>
            </ul>
        </div>
    }
</div>
