﻿@model MatchGame.Models.UserData

@{
    ViewBag.Title = MatchGame.Textes.REGISTRATION_TEXT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MatchGame.Textes.REGISTRATION_TEXT</h2>

<div class="match-center-position">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.EditorForModel();
        <input type="submit" value="@MatchGame.Textes.REGISTRAT_TEXT" />
    }

    @if (ViewBag.IsExistLogin != null && ViewBag.IsExistLogin)
    {
        <div class="validation-summary-errors">
            <ul>
                <li>@MatchGame.Textes.LOGIN_EXISTS</li>
            </ul>
        </div>
    }
</div>
