﻿@model MatchGame.Models.Winner[]

@{
    ViewBag.Title = MatchGame.Textes.WIN_TABLE_TEXT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MatchGame.Textes.WIN_TABLE_TEXT</h2>

@if (Model != null && Model.Length > 0)
{
    <table class="match-savedgames-table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="match-theme-color">
                <th>@MatchGame.Textes.WIN_POSITION</th>
                <th>@MatchGame.Textes.LOGIN_NAME</th>
                <th>@MatchGame.Textes.SAVED_GAMES_SCORE_COLUMN_TEXT</th>
                <th>@MatchGame.Textes.SAVED_GAMES_STEPS_COLUMN_TEXT</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Length; i++)
                {
                <tr>
                    <td>@Model[i].Number</td>
                    <td>@Model[i].Login</td>
                    <td>@Model[i].Score</td>
                    <td>@Model[i].Steps</td>
                </tr>
            }
        </tbody>
    </table>
}
