﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0px;
}

header, footer, nav, section {
    display: block;
}

h2 {
    text-align: center;
}

input[type="button"] {
    background: #507299;
    border: 0px;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}

    input[type="button"]:hover {
        opacity: 0.7;
    }

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Остальные стили
	*/

.full-size {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 700px;
}

.match-full-width {
    width: 100%;
}

.match-full-height {
    height: 100%;
}

.match-half-width {
    width: 50%;
}

.match-toolbar {
    width: 100%;
    height: 42px;
    background: #507299;
}

    .match-toolbar * {
        color: #FFFFFF !important;
    }

.body-block {
    width: 100%;
    top: 42px;
    left: 0px;
}

.match-center-position {
    display: table;
    margin: 0 auto;
}

.page {
    min-width: 500px;
    max-width: 900px;
}

.field-row {
    display: block;
    width: 100%;
}

    .field-row > div {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #000000;
        margin-right: 3px;
    }

        .field-row > div:hover {
            opacity: 0.5;
        }

        .field-row > div[clr="-1"] {
            background-color: #FFFFFF;
        }

        .field-row > div[clr="0"] {
            background-color: #A70105;
        }

        .field-row > div[clr="1"] {
            background-color: #00FF00;
        }

        .field-row > div[clr="2"] {
            background-color: #0000FF;
        }

        .field-row > div[clr="3"] {
            background-color: gray;
        }

        .field-row > div[clr="4"] {
            background-color: #EBACCA;
        }

.match-field {
    background-color: #507299;
    padding: 9px;
    color: #FFFFFF;
    margin-top: 10px;
}

    .match-field > * {
        font-size: 18px;
    }

.match-field-score {
    margin-right: 10px;
}

.match-field-steps, .match-field-stepstext {
    float: right;
}

.match-field-stepstext {
    margin-right: 10px;
}

.match-toolbar-user {
    width: 250px;
    height: 100%;
    float: right;
}

.match-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.match-savedgames-table {
    width: 100%;
    margin-top: 10px;
}

    .match-savedgames-table tr {
        border: 1px 1px 1px 0px solid #000000;
    }

    .match-savedgames-table th, .match-savedgames-table td {
        padding: 9px;
        font-size: 18px;
    }


    .match-savedgames-table td {
        background-color: transparent;
        background-image: linear-gradient(to top, rgb(193, 220, 240), rgb(223, 240, 251));
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-spacing: 0px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
    }


.match-theme-color {
    background-color: #507299;
    color: #FFFFFF;
}

.match-toolbar-navigation {
    display: inline-block;
    height: 100%;
    width: 400px;
    border-right: 1px solid #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
