﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render(MatchGame.BundleConstants.STYLES_CSS)
</head>
<body>
	<div class="full-size">
		<div class="match-toolbar">
			@{ Html.RenderPartial("UserInfo");}
		</div>
		<div class="body-block">
			<div class="match-center-position">
				@RenderBody()
			</div>
		</div>
	</div>
	@Scripts.Render(MatchGame.BundleConstants.JQUERY)
	@Scripts.Render(MatchGame.BundleConstants.SCRIPTS)
	@RenderSection("scripts", required: false)
</body>
</html>
