﻿@{
    Layout = null;
    string encodedValue = HttpUtility.HtmlEncode(HttpContext.Current.User.Identity.Name);

}

<div class="match-toolbar-navigation">
    <table cellspacing="0" cellpadding="0" class="match-full-width match-full-height">
        <tr>
            <td class="match-half-width match-theme-hidecolor">@Html.ActionLink(MatchGame.Textes.PLAY_TOOLBAR_TEXT, "main", "match")</td>
            <td class="match-half-width match-theme-hidecolor">@Html.ActionLink(MatchGame.Textes.WINNERS_TOOLBAR_TEXT, "main", "winners")</td>
        </tr>
    </table>
</div>
<div class="match-toolbar-user">
    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(MatchGame.Textes.LOGIN_TEXT, "login", "account");
    }
    else
    {
        <div class="match-text-ellipsis" title="@encodedValue">@encodedValue</div>
        @Html.ActionLink(MatchGame.Textes.LOGOUT_TEXT, "signout", "account");
    }
</div>
