﻿@{
	Layout = null;
}

@model MatchGame.Models.MatchData[]

@if (Model != null && Model.Length > 0)
{
	<table class="match-savedgames-table" cellspacing="0" cellpadding="0">
		<thead>
			<tr class="match-theme-color">
				<th>@MatchGame.Textes.SAVED_GAMES_NUMBER_COLUMN_TEXT</th>
				<th>@MatchGame.Textes.SAVED_GAMES_SCORE_COLUMN_TEXT</th>
				<th>@MatchGame.Textes.SAVED_GAMES_STEPS_COLUMN_TEXT</th>
				<th>@MatchGame.Textes.SAVED_GAMES_WIDTH_COLUMN_TEXT</th>
				<th>@MatchGame.Textes.SAVED_GAMES_HEIGHT_COLUMN_TEXT</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Length; i++)
   {
				<tr>
					<td>@(i + 1)</td>
					<td>@Model[i].Score</td>
					<td>@Model[i].Steps</td>
					<td>@Model[i].Width</td>
					<td>@Model[i].Height</td>
					<td>
						<input type="button" value="@MatchGame.Textes.LOAD_BUTTON_TEXT" onclick="var ctrl = new Match(); if (!!ctrl) { ctrl.Load('@Model[i].ID'); }" />
					</td>
				</tr>
   }
		</tbody>
	</table>
}