﻿@{
    ViewBag.Title = MatchGame.Textes.PLAY_TOOLBAR_TEXT;
    string startId = "Start";
    string gameId = "GameField";
    string saveId = "Save";
    string savedGamesId = "savedGames";
    string json = MatchGame.Models.FieldInfo.GetAsJson(MatchGame.Models.FieldInfo.GetFields());
}
<div class="page">
    <h2>@MatchGame.Textes.PLAY_TOOLBAR_TEXT</h2>
    <input id="@startId" type="button" value="@MatchGame.Textes.START" />
    <input id="@saveId" style="display:none;" type="button" value="@MatchGame.Textes.SAVE" />
    <input type="button" value="@MatchGame.Textes.END_GAME" onclick="document.location.href='@Url.Action("end","winners")';" />
    <div id="@gameId"></div>
    <div id="@savedGamesId">
        @{ Html.RenderAction("Main", "SavedGames"); }
    </div>
</div>
@section scripts{
    <script>
        var settings = new MatchSettings();
        settings.StartId = "@startId";
        settings.GameFieldId = "@gameId";
        settings.SaveId = "@saveId";
        settings.SavedGamesId = "@savedGamesId";
        settings.FieldTypes = @Html.Raw(json);
        var ctrl = new Match(settings);
        ctrl.Init();
    </script>
}